* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

body {
  background-color: #EAD9FF;
  color: black;
  font-family: Verdana, sans-serif;
  font-style: normal;
  position: relative;
}

h2 {
  background-color: #C08CFF;
  border-radius: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align:center;
  width: 100%;
}

article {
  max-width:980px;
  margin-left:auto;
  margin-right:auto;
}

header {
  max-width:980px;
  margin:5vh auto;
  display:flex;
  vertical-align: middle;
  justify-content: center;
  flex-wrap: wrap;
  border-radius:20px;
  text-align: center;
  background-color: #D6B5FF;
  padding: 5px;
  min-height:25vh;
  align-content: center;
}

h1 {
  width:100%;
}

header p {
  text-align:center;
  margin-top:.5rem;
}

header ul {
  font-size:1.125rem;
  margin-top:.5rem;
  width:100%;
}

header li {
  display: inline;
}

header li::after {
  content: " |";
}

header li:last-child::after {
  content: "";
}

article {
  display: flex;
	display: -webkit-flex;
  justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

article a {
  padding-top:.5em;
  padding-left:5px;
  padding-right:5px;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
  border-radius: 15px;
  width: 150px;
  height: 200px;
  text-align: center;
  margin: 5px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #D6B5FF;
  color: white;
  text-shadow: -1px -1px .75px black, -1px 1px .75px black, 1px -1px .75px black, 1px 1px .75px black;
}

article a:hover {
  text-decoration: inherit;
  box-shadow: 0 0 0px 75px rgba(255, 255, 255, .33) inset;
}

.rating {
  position: absolute;
  width: 80%;
  border-radius: 10px;
  color: white;
  margin: 5%;
  bottom: 0;
  text-shadow: none;
  font-variant: small-caps;
  display: flex;
  vertical-align: middle;
  padding: 2px 0;
  font-size:1rem;
  justify-content:center;
  z-index: 3;
}

.rating.all {
  background-color: teal;
}

.rating.teen {
  background-color: orange;
}

.rating.adult {
  background-color: crimson;
}

a {
  color:#9640FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #D6B5FF;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}