:root {
	--foreground-color: #D6B5FF;
	--background-color: #EAD9FF;
	--heading-color: #C08CFF;
	--link-color: #9640FF;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

body {
	background-color: var(--background-color, #EAD9FF);
	color: black;
	font-family: Verdana;
	font-style: normal;
	position: relative;
}

h2 {
	background-color: var(--heading-color, #C08CFF);
	border-radius: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom:5px;
}

ul {
	display: grid;
	text-align: left;
	justify-content: center;
	justify-items: start;
}

a {
	color: var(--link-color, #9640FF);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	text-align: center;
	background-color: var(--foreground-color, #D6B5FF);
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	width: 66%;
	max-width:980px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
	padding:0 calc(50vw - 500px);
}

.maxHeight {
	height:100vh;
	justify-content: center;
	align-content: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.subtitle {
	font-size:smaller;
}

.circle {
	border-radius:50%;
}

/**Flexing**/
.flex { 
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	vertical-align: middle;
	height:auto;
	width:100%;
}

.flex article {
	margin: 10px;
	min-height: 100%;
	max-height: calc(50vh - 20px);
	width: calc(50% - 20px);
	background-color: var(--foreground-color, #D6B5FF);
	border-radius: 10px;
	padding: 10px;
	max-width:500px;
}

.flex article div {
	width: calc(100% - 10px);
	margin-left:15px;
	padding:0 5px;
	height: calc(100% - 1.75em - 5px);
	overflow-y: scroll;
}

.flex p {
	width: auto;
	text-align: left;
}

.infobox {
	text-align: left;
	height: auto !important;
	width: auto !important;
	margin-bottom: .5em !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
	overflow-y:unset !important;
}

.characterImage {
	float: right;
	width: auto;
	max-height: calc(100% - 5px);
	margin-left: 1em;
	border-radius:10px;
	max-width: 50%;
	height: auto;
	z-index: 5;
}

.censor {
	background-color: black;
	color: black;
	font-variant: small-caps;
	border-radius: 2px;
}

#intro {
	position: relative;
	text-align: center;
	margin: auto;
	background-color: var(--foreground-color, #D6B5FF);
	padding: 10px;
	border-radius: 20px;
	font-style: normal;
	min-width: 250px;
	width: 66vw;
	max-width:980px;
}

#introImage {
	width: 33%;
	min-width: 200px;
	max-width: 300px;
	height: auto;
	min-height: 200px;
	max-height: 300px;
}

@media screen and (max-height:667px){
	.maxHeight {
		display: block;
		height: auto;
	}
	.flex article {
		max-height: none;
	}
	.flex article div {
		height: auto;
	}
	.characterImage {
		max-height:250px;
	}
	#intro {
		margin: 10px auto;
	}
	#introImage {
		width:150px;
		height:150px;
	}
}

@media screen and (max-width:667px){
	.maxHeight {
		display: block;
		height: auto;
	}
	.flex article {
		width: calc(100% - 20px);
		max-height:none;
	}
	#intro {
		width: auto;
		margin: 10px;
	}
	#introImage {
		width:150px;
		min-width:150px;
		max-width:150px;
		height:150px;
		min-height:150px;
		max-height:150px;
	}
	.characterImage {
		max-width: 33%;
	}
}